header {
  background-color: #235153;
  color: #fff5ee; /*seashell*/
  text-align: center;
  padding-bottom: 45px;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h1, h2, h6 {
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
}

body {
  height: auto;
  background-color: #dcdcdc; /*gainsboro*/
  color: #084444; 
}

h3, h4, h5 {
  font-family: "Bookman, URW Bookman L, serif";
  font-size: 42px;
  text-align: center;
}

h2 {
 font-size: 38px;
 font-style: oblique; /*what is the difference between oblique and italics anyways*/
}

h6 {
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}

p, li, a {
 font-family: "Noto Sans, sans-serif" ;
 font-size: 24px;
}

ul {
  list-style-type: circle; /*circular bullet points*/
}

ol {
  list-style-type: decimal; /*numbered list*/
}

img {
  width: 300px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.img-round{ /*circular photo when it's a square to begin with*/
  border-radius: 50%;
}

a:link {
  color: #00ced1;
}

a:visited {
  color: #20b2aa;
}

a:hover {
  color: #66cdaa;
}

a:active {
  color: #48d1cc;
}
