header {
  background-color: #5f9ea0;
  color: #fff5ee;
  text-align: center;
  padding-bottom: 45px;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h1, h3, h4 {
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
}

body {
  background-color: #dcdcdc;
  color: #008b8b;
}

h2 {
  font-family: "Bookman, URW Bookman L, serif";
  font-size: 42px;
  text-align: center;
}

h3 {
 font-size: 38px;
 font-style: oblique;
}

h4 {
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}

p, li, a {
 font-family: "Noto Sans, sans-serif" ;
 font-size: 24px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

img {
  width: 300px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-round{
  border-radius: 50%;
}

.border {
  border-top: 3px dotted #d8bfd8;
  padding-top: 25px;
}

a:link {
  color: #00ced1;
}

a:visited {
  color: #20b2aa;
}

a:hover {
  color: #66cdaa;
}

a:active {
  color: #48d1cc;
}
